body {
  background-image: url("paranayam\ wallpaper.jpg");
  background-size: cover;
}
.top {
  color: #4169e1;
  text-align: center;
  font-size: 2cm;
  margin: 0;
}
.first {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.left {
  color: #ffd700;
  width: 30vw;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-top: 50px;
  text-align: center;
  font-size: 1.2cm;
}
.right {
  background-color: white;
  margin-bottom: 10px;
  margin-right: 50px;
}
.second {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.lefts {
  margin-left: 60px;
}
.rights {
  color: #850785;
  margin-bottom: 10px;
  margin-right: 35px;
  margin-top: 20px;
  /* margin-left: 50%; */
  width: 40vw;
  font-size: 1cm;
}
.last {
  margin-bottom: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
