body {
  background-image: url(paranayam\ wallpaper.jpg);
  background-size: cover;
}
.top {
  color: #4169e1;
  text-align: center;
  font-size: 2cm;
  margin: 0;
}
.first {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.left {
  color: #ffd700;
  width: 75vh;
  margin-bottom: 30px;
  margin-left: 60px;
  margin-top: 50px;
  height: 8cm;
  text-align: center;
  font-size: 1.2cm;
  border-radius: 1.5cm;
  /* background-color: white; */
}
.right {
  border-radius: 40px;
  background-color: white;
  /* height: 2cm; */
  margin-bottom: 10px;
  margin-right: 50px;
  /* margin-top: 30px; */
}
.second {
  display: flex;
  justify-content: space-between;
  margin-bottom: 290px;
}
.lefts {
  margin-left: 60px;
  height: 3cm;
  width: 30vh;
  /* margin-top: 200px; */
}
.rights {
  color: #850785;
  margin-bottom: 10px;
  margin-right: 35px;
  margin-top: 20px;
  height: 8cm;
  width: 75vh;
  font-size: 1cm;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
a {
  text-decoration: none;
  display: flex;
  justify-content: center;
}
