.top {
  color: #362c05;
  text-align: center;
  font-size: 2cm;
  margin: 0;
}
.first {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 2cm;
  background-image: url("asana11.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2cm;
}
.first .left {
  font-style: italic;
  margin-left: 4cm;
  padding-top: 2cm;
  font-weight: 1000;
  color: black;
  font-size: 1cm;
}
body {
  background-image: url("wp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  margin-right: 2cm;
}
a {
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  body {
    background-image: url("wp.jpg");
  }

  .top {
    font-size: 1.5cm; /* Decrease font size for smaller screens */
  }
  .first .left {
    font-size: 0.7cm;
    font-weight: 800;
    color: black;
    text-align: center;
    padding-bottom: 3cm;
    padding-right: 1.5cm;
  }
  .first {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1cm;
    background-color: white;
    border-radius: 1cm;
    background-image: url("asana11.jpg");
  }

  .first .right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%; /* Make images responsive */
    height: auto; /* Ensure aspect ratio is maintained */
    margin: 0; /* Reset margin */
  }

  a {
    display: block; /* Ensure links take full width */
    margin-bottom: 1cm; /* Add space between links */
    text-decoration: none;
  }
}
