.top {
  font-size: 70px;
  color: rgb(80, 224, 80);
  text-align: center;
  margin-top: 0;
}
body {
  background-image: url("./mainbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
marquee {
  font-size: 35px;
  color: #cd5a3594;
}
.main {
  display: flex;
  background-color: black;
  display: block;
  justify-content: space-evenly;
  color: white;
  width: 75vh;
  margin-bottom: 30px;
  margin-left: 20px;
  height: 7cm;
  text-align: center;
  font-size: 1.5cm;
  border-radius: 1.5cm;
  transition: transform 0.2s;
}
a {
  text-decoration: none;
}
.main:hover {
  transform: scale(0.85);
}
/* Original CSS for laptop screens */
/* Keep this as is */

/* Responsive CSS for mobile screens */
@media only screen and (max-width: 600px) {
  /* Adjustments for mobile screens */

  /* Resetting default styles */
  header {
    text-align: center;
  }

  .top {
    font-size: 15px;
  }

  /* Making the main divs stack vertically */
  .main {
    width: 90%;
    margin-bottom: 20px;
  }
}
